<div class="card shadow mt-3">
  <div class="card-body">
    <h3 class="hborder fw-bold fs-6"><%= icon_with_text("table", "Users") %></h3>


    <%= turbo_frame_tag "users-list" do %>

    <div class="row py-2">
      <div class="col my-auto">
        Name
      </div>
      <div class="col my-auto">
        Count
      </div>
      <div class="col d-flex justify-content-end">
        <%= link_to icon_with_text("plus-circle", "New User"),
                    new_user_path,
                    class: "btn btn-outline-primary",
                    data: { turbo_frame: "new_user" }
        %>
      </div>
    </div>


    <%= turbo_frame_tag "new_user" %>
    <div id="users">
      <%= render @users %>
    </div>

    <% end %>
  </div>
</div>
